@keyframes btnClickAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

/* button:active {
  animation: btnClickAnim 0.1s;
} */

/* button:hover {
  box-shadow: 0 2px 4px #808080;
} */

/* nav a.active {
  color: #3498db;
  font-weight: 700;
  text-decoration: underline;
} */
